#main{
  width: 100%;
  height: 100h;
  border: 1px solid black;
}
header{
  width: 100%;
  height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#headerSub{
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  width: 150px;
}
#fetch{
  width: 100%;
  height: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
#fetchSub{
  width: 80%;
  height: 100%;
  border: 1px solid black;
}
#movie{
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

@media(max-width:576px)
{
  header{
    height: 120px;
    flex-direction: column;
  }
}